<template lang="html">
    <ul class="widget w-activity-feed notification-list">
        <div v-if="notification_data.length > 0">
            <li class="o_noti"  v-for="notification in notification_data" :key="notification.index" >
                <div class="author-thumb header_logo">
                    <img v-if="notification.user.logo != null && notification.user.logo != ''" :src="'/'+notification.user.logo" alt="author">
                    <img v-else src="/uploads/user/dummy_logo.png" alt="author">
                </div>
                <div class="notification-event">
                    <div><a :href="'/profile/'+notification.user.user_name" class="h6 notification-friend">{{notification.user.name}}</a> {{notification.notification_text}} .</div>
                    <span class="notification-date"><time class="entry-date updated" >{{notification.created_at}}</time></span>
                </div>
            </li>
        </div>
        <div v-else>
            <li style="text-align:center;" >
                <div >
                    No New Activity Feed
                </div>
            </li>
        </div>
    </ul>
</template>

<script>
    export default {
        props: ['notification_data'],
        methods:{

        }
    }
</script>

<style lang="css">
    .o_noti{
        cursor: pointer !important;
    }
</style>
