<template lang="html">
    <ul class="notification-list chat-message" >
        <div v-for="message_side in message_side_data" :key="message_side.index">
            <li @click="openChat(message_side.user_id,message_side.user_id_to,message_side.conversation_id);updateAsSeen(message_side)" v-bind:class="{ 'bold' : checkIfSeen(message_side),'active' : message_side.conversation_id == side_selected_conv  }">
                <div class="author-thumb header_logo" v-if="user_id != message_side.user_id">
                    <img :src="'/' + message_side.logo" alt="author" v-if="message_side.logo != null && message_side.logo != ''">
                    <img v-else src="/uploads/user/dummy_logo.png" alt="author">
                </div>
                <div class="author-thumb header_logo" v-else>
                    <img :src="'/' + message_side.logo_2" alt="author" v-if="message_side.logo_2 != null">
                    <img v-else src="/uploads/user/dummy_logo.png" alt="author">
                </div>
                <div class="notification-event">
                    <a href="#" class="h6 notification-friend" v-if="user_id != message_side.user_id">{{message_side.name}}</a>
                    <a href="#" class="h6 notification-friend" v-else>{{message_side.name_2}}</a>
                    <span class="chat-message-item" v-if="user_id == message_side.user_id"> You : {{chatCut(message_side)}}</span>
                    <span class="chat-message-item" v-else>{{chatCut(message_side)}}</span>
                    <span class="notification-date"><time class="entry-date updated" >{{ message_side.created_at }}</time></span>
                </div>
                <span class="notification-icon">
    																<svg class="olymp-chat---messages-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
    															</span>

                <div class="more">
                    <svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                </div>
            </li>
        </div>
    </ul>
</template>

<script>
    export default {
        props: ['message_side_data','selected_friend','selected_conv_id'],
        data() {
            return {
                user_id: $('#user_id').val(),
                current_friend : this.selected_friend,
                side_selected_conv : this.selected_conv_id
            }

        },
        methods: {
            chatCut(message){
                if(message.message == null && message.have_attachments == 1){
                    return  'Attachments';
                }
                if(message.message != undefined && message.message.length != undefined && message.message.length > 70){
                    message.message = message.message.substr(0,65)+' ...';
                }
                return message.message;
            },
            openChat(first_id, sec_id,conv_id) {
                this.side_selected_conv = conv_id;
                var friend_id = first_id;
                if (first_id == this.user_id) {
                    friend_id = sec_id;
                }
                this.$emit('openchat', {
                    user_id: this.user_id,
                    friend_id: friend_id
                })
            },
            checkIfSeen(message){
                if(message.is_seen == 0){
                    if(this.user_id != message.user_id){
                        return true;
                    }
                }
           return false;
        },
        updateAsSeen(message){
            if(message.is_seen == 0 && this.user_id != message.user_id){

                axios.get('/update-as-seen?user_id=' + this.user_id + '&conversation_id=' + message.conversation_id).then(response => {
                this.$emit('updatesidemenu')
            });
            }
        }
        },
        watch: {
            selected_conv_id: function (newVal, oldVal) { // watch it
            }
        },

    }
</script>

<style lang="css">
    .bold{
        font-weight: bold;
    }
    .active{
        background-color: rgba(0, 0, 0, .05) !important;
    }
</style>
