<template lang="html">
    <div class="chat-field" v-if="messages.length > 0">
        <div class="ui-block-title">
            <h6 class="title" v-if="getChatWithName(messages)">{{ chat_with }}</h6>
            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>
        <div class="mCustomScrollbar" data-mcs-theme="dark" style="max-height:300px !important;overflow: scroll;overflow-x: hidden;" v-chat-scroll >
            <ul  class="notification-list chat-message chat-message-field"  >
                <chat-log :messages="messages" >

                </chat-log>
            </ul>
        </div>


    </div>
</template>

<script>
    export default {
        props : ['messages'],
        data(){
            return{
                user_id : $('#user_id').val(),
                chat_with : ''
            }
        },methods:{
            getChatWithName(conversation){
                if(conversation[0] != undefined){
                    if(conversation[0].user_id == this.user_id){
                        this.chat_with = conversation[0].user_to.name
                    }else{
                        this.chat_with = conversation[0].user.name
                    }
                }
                    return true;
            }
        }
    }
</script>

<style lang="css">
</style>
