<template lang="html">
  <li>
      <div class="author-thumb header_logo">
          <img v-if="message.user.logo != null && message.user.logo != ''" :src="'/' + message.user.logo" alt="author">
          <img v-else src="/uploads/user/dummy_logo.png" alt="author">
      </div>
      <div class="notification-event">
          <a href="#" class="h6 notification-friend">{{message.user.name}}</a>
          <span class="notification-date"><time class="entry-date updated" >{{message.created_at}}</time></span>
          <span class="chat-message-item" style="min-width: 306px !important;word-break: break-all;">{{message.message}}</span>
          <div class="added-photos" v-if="message.have_attachments == 1">
              <div class="img_thumb ">
                  <span v-for="attatchment in message.attachments" :key="attatchment.index" >
                      <img v-if="checkFileType(attatchment.file_ext)"   :src="'chat/'+attatchment.file_path" @click="downloadFiles('download/'+attatchment.file_path)">
                      <img v-else   src="/img/general_file.png" @click="downloadFiles('download/'+attatchment.file_path)">
                  </span>
              </div>
          </div>
      </div>
  </li>
</template>

<script>
export default {
  props: ['message'],
  data(){
      return{
        supported_file_type : ['jpg','jpeg','png','gif']
      }
      
  },
    methods:{
        downloadFiles(url) {
            window.location.href = url;
        },
        checkFileType(file_type){
            if(this.supported_file_type.indexOf(file_type.trim()) > -1 ){
                return true;
            }
            return false;
        }
    }
}
</script>

<style lang="css">
    .img_thumb img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 108px;
        height: 101px;
        position: relative;
    }
</style>
