<template lang="html">
    <div>
        <div class="menu-left" v-if="files.length > 0">
            <ul>
                <li v-for="(file, index) in files" :key="file.id">
                    <div class="img_thumb" style="position: relative;">
                        <img v-if="file.thumb" :src="file.thumb" />
                        <img v-else src="/img/general_file.png" />

                        <label >{{minifyName(file.name)}}</label>
                        <!-- <span v-else>No Image</span> -->
                        <a @click.prevent="$refs.upload.remove(file)" v-bind:style="{ backgroundImage: 'url(/img/remove_img.png)' }" class="remove_item"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-group label-floating is-empty">
            <label class="control-label">Write your message here...</label>
            <textarea v-model="newMessage" @keyup.enter="sendMessage($event)" @keyup="typyingMessage" class="form-control" placeholder=""></textarea>
        </div>

        <div class="add-options-message">
            <div class="options-message ">
                <file-upload :multiple="true"  @input-file="inputFile" v-model="files" ref="upload" post-action="/set-message" :headers="{'X-CSRF-TOKEN': token}">
                    <i class="fas fa-paperclip" aria-hidden="true"></i>
                </file-upload>
            </div>
            <div class="options-message smile-block">
                <svg class="olymp-happy-sticker-icon">
                                    <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
                                </svg>

                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat1.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat2.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat3.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat4.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat5.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat6.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat7.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat8.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat9.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat10.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat11.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat12.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat13.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat14.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat15.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat16.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat17.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat18.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat19.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat20.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat21.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat22.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat23.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat24.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat25.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat26.png" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/icon-chat27.png" alt="icon">
                        </a>
                    </li>
                </ul>
            </div>

            <button @click.prevent="sendMessage($event)" class="btn btn-primary btn-sm">Post Reply</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['friend_id', 'user'],
        data() {
            return {
                is_loading_files : true,
                maxSize:5000000,
                newMessage: '',
                current_friend_id: this.friend_id,
                user_id: $('#user_id').val(),
                files: [],
                token: document.head.querySelector('meta[name="csrf-token"]').content,
            }
        },
        methods: {
            minifyName(name){
                var str_spl = name.split(".");
                var file_ext = str_spl[str_spl.length -1];


                if(name.length > 15){
                    name = name.replace('.'+file_ext,'');
                   name = name.substring(0,10)+"..."+"."+ file_ext;
                }
                return name;
            },
            sendMessage(event) {
                event.preventDefault();
                this.newMessage = this.newMessage.replace(/^\s+|\s+$/g, '');
               if(this.newMessage.length > 0 || Object.keys(this.files).length > 0){
                   this.$emit('messagesent', {
                       message: this.newMessage,
                       files : this.files
                   })
                   if(Object.keys(this.files).length >0 ){
                       this.files = [];
                   }
                   this.newMessage = ''
               }

            },
            typyingMessage() {
                this.$emit('typingmessage', {
                    message: this.newMessage,
                })

            },
            inputFile: function(newFile, oldFile) {
                console.log(newFile);
                if(this.files.length > 5){
                   this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Error',
                        text: 'Maximum Number Of Files Allowed is 5 Files',
                        });
                        this.$refs.upload.remove(newFile)
                        return;
                }
                if (newFile != undefined && newFile.size >= 0 && this.maxSize > 0 && newFile.size > this.maxSize) {
                     this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Error',
                        text: 'Maximum File Size Is 5 mb',
                        });
                        this.$refs.upload.remove(newFile)
                        return;
                }
                // this.$refs.upload.active = true;
                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    // Create a blob field
                    // 创建 blob 字段
                    newFile.blob = ''
                    let URL = window.URL || window.webkitURL
                    if (URL && URL.createObjectURL) {
                        newFile.blob = URL.createObjectURL(newFile.file)
                    }
                    // Thumbnails
                    // 缩略图
                    newFile.thumb = ''
                    if (newFile.blob && newFile.type.substr(0, 6) === 'image/') {
                        newFile.thumb = newFile.blob
                    }
                }




                // if (newFile && oldFile && !newFile.active && oldFile.active) {
                //     // Get response data
                //     console.log('response', newFile.response)
                //     if (newFile.xhr) {
                //         //  Get the response status code
                //         console.log('status', newFile.xhr.status)
                //     }
                // }
            }
        },

        created() {

        }
    }
</script>

<style lang="css">
    .loading_files_style{
        max-height: 105px;
        background: rgba(255,255,255,0.6);
        position: fixed;
        z-index: 10000;
    }
    .img_thumb img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 108px;
        height: 101px;
        position: relative;
        margin-right: 8px;
    }
    .img_thumb label {
            width: 107px;
            height: 20px;
            position: absolute;
            left: 1px;
            /* bottom: -32px; */
            top: 81px;
            background-color: #7c56c5b8;
            color: white;
            padding-left: 2px;
    }

    .img_thumb img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .remove_item {
        cursor: pointer;
        top: 259px;
        left: 90px;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        position:absolute;
        width:15px;
        height:15px;
        top: 2px;
        right: 2px;
        z-index: 1;
    }
    .remove_item:hover{
        border-radius:10px;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .menu-left {
        overflow-x: auto;
        overflow-y: hidden;
        max-height: 105px;
        white-space: nowrap;
        border: 1px solid #e6ecf5;
    }

    .menu-left ul li {
        display: inline-block;
        /* vertical-align: top;
            width: 50%; */
    }


    /* .menu-left ul{height:200px; width:18%;} */

    .file-uploads label {
        cursor: pointer;
    }
</style>
