<template lang="html">
    <ul class="notification-list friend-requests">
        <div v-if="follow_request_data.length > 0">
            <li v-for="follow_request in follow_request_data" :key="follow_request.index">
                <div class="author-thumb header_logo">
                    <img :src="'/'+follow_request.request_user.logo" alt="author" width="34" height="34" v-if="follow_request.request_user.logo != null && follow_request.request_user.logo != ''">
                    <img v-else src="/uploads/user/dummy_logo.png" alt="author">
                </div>
                <div class="notification-event">
                    <a :href="'/profile/'+follow_request.request_user.user_name" class="h6 notification-friend">{{jsUcfirst(follow_request.request_user.name)}}</a>
                    <span class="chat-message-item" v-if="follow_request.mutual_friend != null">Mutual Friend: {{jsUcfirst(follow_request.mutual_friend)}}</span>
                    <span class="chat-message-item" v-else>Mutual Friend: None</span>
                </div>
                <span class="notification-icon">
                									<a href="#" @click.prevent="acceptFollow(follow_request.user_id,jsUcfirst(follow_request.request_user.name))" class="accept-request bg-facebook">
                										<span class="without-text">
                                                            <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><defs><svg:style>.cls-1{fill:url(#linear-gradient);}</svg:style><linearGradient id="linear-gradient" x1="-126.2" y1="588.24" x2="370.32" y2="588.24" gradientTransform="translate(834.99 136.57) rotate(90)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#00f2fe"/><stop offset="0.02" stop-color="#03effe"/><stop offset="0.29" stop-color="#24d2fe"/><stop offset="0.55" stop-color="#3cbdfe"/><stop offset="0.8" stop-color="#4ab0fe"/><stop offset="1" stop-color="#4facfe"/></linearGradient></defs><title>zzzzzz</title><path class="cls-1" d="M224.23,446.6H63.42a18.47,18.47,0,0,1-18.54-18.43,18.23,18.23,0,0,1,.89-5.72C64,365.65,119.75,326,181.26,326a138.31,138.31,0,0,1,79.53,25,18.49,18.49,0,0,0,21.14-30.33,175.15,175.15,0,0,0-36.86-19.72,94.11,94.11,0,0,0,30.61-62.08A139.12,139.12,0,0,1,452.09,224.4a18.49,18.49,0,1,0,21.28-30.24l-.12-.08a174.94,174.94,0,0,0-36.88-19.62A94.27,94.27,0,1,0,303.21,168q3,3.27,6.23,6.25c-2.58,1-5.14,2-7.72,3.16a175.78,175.78,0,0,0-32.55,18.69A94.26,94.26,0,1,0,118,300.54C67.83,319.29,27.18,359.67,10.62,411.13a55.46,55.46,0,0,0,52.8,72.44H224.23a18.49,18.49,0,0,0,0-37ZM374.06,46.11A57.47,57.47,0,1,1,316.6,103.6v0A57.53,57.53,0,0,1,374.06,46.11ZM182.19,173a57.46,57.46,0,1,1-57.46,57.46h0A57.52,57.52,0,0,1,182.19,173ZM418.45,371.9V431H316.11c-19.49,0-35.29-13.22-35.29-29.54s15.8-29.54,35.29-29.54H418.45m0,0h31.8c19.49,0,35.29,13.23,35.29,29.54S469.74,431,450.25,431h-31.8m-5.73,7.94H353.64V336.58c0-19.49,13.22-35.29,29.54-35.29s29.54,15.8,29.54,35.29V438.92m0,0v31.8c0,19.49-13.23,35.29-29.54,35.29s-29.54-15.8-29.54-35.29v-31.8"/></svg>
                										</span>
                </a>
    
                <a href="#" @click.prevent="declineFollow(follow_request.user_id)" class="accept-request bg-grey-light">
                    <span >
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><defs><svg:style>.cls-1{fill:url(#linear-gradient);}</svg:style><linearGradient id="linear-gradient" x1="-126.2" y1="588.24" x2="347.84" y2="588.24" gradientTransform="translate(834.99 136.57) rotate(90)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#00f2fe"/><stop offset="0.02" stop-color="#03effe"/><stop offset="0.29" stop-color="#24d2fe"/><stop offset="0.55" stop-color="#3cbdfe"/><stop offset="0.8" stop-color="#4ab0fe"/><stop offset="1" stop-color="#4facfe"/></linearGradient></defs><title>unfollow</title><path class="cls-1" d="M224.23,446.6H63.42a18.47,18.47,0,0,1-18.54-18.43,18.23,18.23,0,0,1,.89-5.72C64,365.65,119.75,326,181.26,326a138.31,138.31,0,0,1,79.53,25,18.49,18.49,0,0,0,21.14-30.33,175.15,175.15,0,0,0-36.86-19.72,94.11,94.11,0,0,0,30.61-62.08A139.12,139.12,0,0,1,452.09,224.4a18.49,18.49,0,1,0,21.28-30.24l-.12-.08a174.94,174.94,0,0,0-36.88-19.62A94.27,94.27,0,1,0,303.21,168q3,3.27,6.23,6.25c-2.58,1-5.14,2-7.72,3.16a175.78,175.78,0,0,0-32.55,18.69A94.26,94.26,0,1,0,118,300.54C67.83,319.29,27.18,359.67,10.62,411.13a55.46,55.46,0,0,0,52.8,72.44H224.23a18.49,18.49,0,0,0,0-37ZM374.06,46.11A57.47,57.47,0,1,1,316.6,103.6v0A57.53,57.53,0,0,1,374.06,46.11ZM182.19,173a57.46,57.46,0,1,1-57.46,57.46h0A57.52,57.52,0,0,1,182.19,173ZM418.45,371.9V431H316.11c-19.49,0-35.29-13.22-35.29-29.54s15.8-29.54,35.29-29.54H418.45m0,0h31.8c19.49,0,35.29,13.23,35.29,29.54S469.74,431,450.25,431h-31.8"/></svg>
                    </span>
                </a>
    
                </span>
    
                <div class="more">
                    <svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                </div>
            </li>
        </div>
        <div v-else>
            <li style="text-align:center;">
                <div>
                    No Follow Requests
                </div>
            </li>
        </div>
    </ul>
</template>

<script>
    export default {
        props: ['follow_request_data'],
        data(){
            return{
                 user_id: $('#user_id').val(),
            }
        },
        methods: {
            jsUcfirst(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            },
            acceptFollow(followerId,follower_name){
                axios.get('/accept-follower?user_id=' + this.user_id+"&follower_id="+followerId).then(follow_request_response => {
                console.log(follow_request_response);
                if (follow_request_response.data.status != undefined && follow_request_response.data.status == true) {
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'Success',
                        text: 'Now You Are Following '+follower_name+' Successfully',
                        });
                    this.$eventBus.$emit('update_follow_requests');
                }

            }).catch(error => {
                console.log('Response Error From Get Follow Request', error)
            });
            }
        }
    }
</script>

<style lang="css">
    
</style>
