<template lang="html">
    <ul class="notification-list chat-message" >
    <div v-if="header_messages.length > 0">
        <li v-for="message_header in header_messages" :key="message_header.index" class="clickable" v-bind:class="{ 'message-unread bold' : checkIfSeen(message_header)}" @click="navigateToFriendChat(message_header.conversation_id)">
            <div class="author-thumb header_logo" v-if="user_id != message_header.user_id">
                <img :src="'/' + message_header.logo" alt="author" v-if="message_header.logo != null">
                <img v-else src="/uploads/user/dummy_logo.png" alt="author">
            </div>
            <div class="author-thumb header_logo" v-else>
                <img :src="'/' + message_header.logo_2" alt="author" v-if="message_header.logo_2 != null && message_header.logo_2 != ''">
                <img v-else src="/uploads/user/dummy_logo.png" alt="author">
            </div>
            <div class="notification-event">
                <a href="#" class="h6 notification-friend" v-if="user_id != message_header.user_id">{{message_header.name}}</a>
                <a href="#" class="h6 notification-friend" v-else>{{message_header.name_2}}</a>
                <span class="chat-message-item" v-if="user_id == message_header.user_id"> You : {{chatCut(message_header)}}</span>
                <span class="chat-message-item" v-else>{{chatCut(message_header)}}</span>
                <span class="notification-date"><time class="entry-date updated">{{ message_header.created_at }}</time></span>
            </div>
            <span class="notification-icon">
									<svg class="olymp-chat---messages-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
								</span>
            <div class="more">
                <svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
            </div>
        </li>
       
    </div>
    <div v-else>
     <li style="text-align:center;" >
            <div >
                No New Messages
            </div>
        </li>
        </div>
    </ul>
</template>

<script>
    export default {
        props : ['header_messages'],
        data(){
            return{
                user_id: $('#user_id').val(),
            }
        },
        methods:{
            chatCut(message){
                if(message.message == null && message.have_attachments == 1){
                    return  'Attachments';
                }
                if(message.message != undefined && message.message.length != undefined && message.message.length > 70){
                    message.message = message.message.substr(0,65)+' ...';
                }
                return message.message;
            },
            checkIfSeen(message){
                if(message.is_seen == 0){
                    if(this.user_id != message.user_id){
                        return true;
                    }
                }
                return false;
            },
            navigateToFriendChat(conversation_id){
                    window.location.href = '/show-chat?conv_id='+conversation_id;
            }
        }
    }
</script>

<style lang="css">
    .bold{
        font-weight: bold !important;
    }
    .clickable{
        cursor: pointer;
    }
</style>
