<template lang="html">
    <ul class="notification-list">
        <div v-if="notification_data.length > 0">
            <li class="o_noti" v-on:click="openNotification(notification,$event)" v-for="notification in notification_data" :key="notification.index" v-bind:class="{'un-read' : notification.is_seen == false}">
                <div class="author-thumb header_logo">
                    <img v-if="notification.user.logo != null && notification.user.logo != ''" :src="'/'+notification.user.logo" alt="author">
                    <img v-else src="/uploads/user/dummy_logo.png" alt="author">
                </div>
                <div class="notification-event">
                    <div><a :href="'/profile/'+notification.user.user_name" class="h6 notification-friend">{{notification.user.name}}</a> {{notification.notification_text}} .</div>
                    <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">{{notification.created_at}}</time></span>
                </div>
                <span class="notification-icon">
    										<svg class="olymp-comments-post-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
    									</span>
    
                <div class="more">
                    <svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                    <svg class="olymp-little-delete"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                </div>
            </li>
        </div>
        <div v-else>
     <li style="text-align:center;" >
            <div >
                No New Notification
            </div>
        </li>
        </div>
    
    </ul>
</template>

<script>
    export default {
        props: ['notification_data'],
        methods:{
            openNotification(notificationObj,event){
                console.log(event.target.nodeName);
                if(event.target.nodeName !== 'A'){
                    this.$emit('opennotification', {
                        notification_obj : notificationObj
                    })
                }
            }
        }
    }
</script>

<style lang="css">
    .o_noti{
        cursor: pointer !important;
    }
</style>
