<template lang="html">
    <div id="chat_pop_up" class="ui-block popup-chat chat_box" v-bind:class="{ 'chat_box_opend_menu' :  side_menu_open }"  v-if="show">
        <div class="ui-block-title">
            <span class="icon-status online"></span>
            <h6 class="title" v-if="getChatWithName(friends_messages,friend_info)"><a :href="'/profile/'+chat_with_user_name">{{chat_with}}</a></h6>
            <div class="more">
                <svg class="olymp-little-delete close_box" @click="closePopUp()">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                                    </svg> </div>
        </div>
        <div v-if="friends_messages.length > 0" class="mCustomScrollbar" data-mcs-theme="dark" v-chat-scroll style="overflow: scroll;overflow-x: hidden;">
            <ul class="notification-list chat-message chat-message-field">
                <li v-for="message in friends_messages.slice().reverse()" :key="message.index" v-bind:class="{ 'sender_msg' : message.user.id == user_id }">
                    <div class="author-thumb header_logo">
                        <img :src="'/'+message.user.logo" alt="author" v-if="message.user.logo != null && message.user.logo != ''">
                        <img v-else src="/uploads/user/dummy_logo.png" alt="author">

                    </div>
                    <div class="notification-event">
                        <span class="chat-message-item chat_w" v-if="message.message != null">{{message.message}}</span>
                        <span style="cursor: pointer;    text-decoration: underline;" class="chat-message-item chat_w" v-if="message.have_attachments == 1" v-for="attatchment in message.attachments" :key="attatchment.index"  ><a @click="downloadFiles('download/'+attatchment.file_path)">{{ attatchment.file_original_name }}</a></span>
                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">{{message.created_at}}</time></span>
                    </div>
                </li>
            </ul>
        </div>
        <div v-else class="empty_message">

        </div>
           <div class="menu-left" v-if="files.length > 0">
                    <ul>
                        <li v-for="(file, index) in files" :key="file.id">
                            <div class="img_thumb" style="position: relative;">
                                <img v-if="file.thumb" :src="file.thumb" />
                                <img v-else src="/img/general_file.png" />

                                <label >{{minifyName(file.name)}}</label>
                                <!-- <span v-else>No Image</span> -->
                                <a @click.prevent="$refs.upload.remove(file)" v-bind:style="{ backgroundImage: 'url(/img/remove_img.png)' }" class="remove_item"></a>
                            </div>
                        </li>
                    </ul>
                </div>
        <form>

            <div class="form-group label-floating is-empty">
                <label class="control-label">Press enter to post...</label>
                <textarea v-model="newMessage" @keyup.enter="sendMessage($event)" class="form-control" placeholder=""></textarea>
                <div class="add-options-message">
                     <div class="options-message ">
                    <file-upload :multiple="true"  @input-file="inputFile" v-model="files" ref="upload" post-action="/set-message" :headers="{'X-CSRF-TOKEN': token}">
                    <i class="fas fa-paperclip" aria-hidden="true"></i>
                </file-upload>
                </div>
                    <div class="options-message smile-block">

                        <svg class="olymp-happy-sticker-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>

                        <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat1.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat2.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat3.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat4.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat5.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat6.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat7.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat8.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat9.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat10.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat11.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat12.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat13.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat14.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat15.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat16.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat17.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat18.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat19.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat20.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat21.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat22.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat23.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat24.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat25.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat26.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/img/icon-chat27.png" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </form>


    </div>
</template>

<script>
    export default {
        props: ['friends_messages','friend_info'],
        data() {
            return {
                show: false,
                user_id: $('#user_id').val(),
                newMessage: '',
                maxSize:5000000,
                files: [],
                token: document.head.querySelector('meta[name="csrf-token"]').content,
                side_menu_open : false,
                chat_with : '',
                chat_with_user_name : ''
            }
        },
        methods: {
          closePopUp(){
            this.show = false;
            localStorage.removeItem('last_friend_id');
          },
          getChatWithName(conversation,friend_info){

              let info = conversation;
              if(Object.keys(info).length == 0){
                info = friend_info;
              }

                if(info[0] != undefined){

                    if(info[0].user_id == this.user_id){
                        this.chat_with = info[0].user_to.name
                        this.chat_with_user_name = info[0].user_to.user_name

                    }else{
                        this.chat_with = info[0].user.name
                        this.chat_with_user_name = info[0].user.user_name

                    }
                }

                    return true;
            },
             minifyName(name){
                var str_spl = name.split(".");
                var file_ext = str_spl[str_spl.length -1];


                if(name.length > 15){
                    name = name.replace('.'+file_ext,'');
                   name = name.substring(0,10)+"..."+"."+ file_ext;
                }
                return name;
            },
                inputFile: function(newFile, oldFile) {
                if(this.files.length > 5){
                   this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Error',
                        text: 'Maximum Number Of Files Allowed is 5 Files',
                        });
                        this.$refs.upload.remove(newFile)
                        return;
                }
                if (newFile != undefined && newFile.size >= 0 && this.maxSize > 0 && newFile.size > this.maxSize) {
                     this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Error',
                        text: 'Maximum File Size Is 5 mb',
                        });
                        this.$refs.upload.remove(newFile)
                        return;
                }
                // this.$refs.upload.active = true;
                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    // Create a blob field
                    // 创建 blob 字段
                    newFile.blob = ''
                    let URL = window.URL || window.webkitURL
                    if (URL && URL.createObjectURL) {
                        newFile.blob = URL.createObjectURL(newFile.file)
                    }
                    // Thumbnails
                    // 缩略图
                    newFile.thumb = ''
                    if (newFile.blob && newFile.type.substr(0, 6) === 'image/') {
                        newFile.thumb = newFile.blob
                    }
                }




                // if (newFile && oldFile && !newFile.active && oldFile.active) {
                //     // Get response data
                //     console.log('response', newFile.response)
                //     if (newFile.xhr) {
                //         //  Get the response status code
                //         console.log('status', newFile.xhr.status)
                //     }
                // }
            },
            downloadFiles(url) {
            window.location.href = url;
        },
            checkIfMessages(messages_data) {
                var status = false;
                if (Object.keys(messages_data).length > 0) {
                    status = true;
                }
                return status;
            },
            sendMessage(event) {

                 event.preventDefault();
                this.newMessage = this.newMessage.replace(/^\s+|\s+$/g, '');
               if(this.newMessage.length > 0 || Object.keys(this.files).length > 0){
                   this.$emit('sidemessagesent', {
                       message: this.newMessage,
                       files : this.files
                   })
                   if(Object.keys(this.files).length >0 ){
                       this.files = [];
                   }
                   this.newMessage = ''
               }
            },

        },
        watch: {
            friends_messages: function(newVal, oldVal) { // watch it
                // if (Object.keys(newVal).length > 0) {
                //     this.show = true;
                // } else {
                //     this.show = false;
                // }
                this.show = true;
            },
            friend_info: function(newVal, oldVal) { // watch it
                this.show = true;
            }
        },
        created(){
          let self =this;
          this.$eventBus.$on('side-menu-status', (data) => {
              self.side_menu_open = data
          });
        },
    }
</script>

<style lang="css">
.img_thumb img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 108px;
        height: 101px;
        position: relative;
        margin-right: 8px;
    }
    .img_thumb label {
            width: 107px;
            height: 20px;
            position: absolute;
            left: 1px;
            /* bottom: -32px; */
            top: 81px;
            background-color: #7c56c5b8;
            color: white;
            padding-left: 2px;
    }

    .img_thumb img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .remove_item {
        cursor: pointer;
        top: 259px;
        left: 90px;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        position:absolute;
        width:15px;
        height:15px;
        top: 2px;
        right: 2px;
        z-index: 1;
    }
    .remove_item:hover{
        border-radius:10px;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .menu-left {
        overflow-x: auto;
        overflow-y: hidden;
        max-height: 105px;
        white-space: nowrap;
        border: 1px solid #e6ecf5;
    }

    .menu-left ul li {
        display: inline-block;
        /* vertical-align: top;
            width: 50%; */
    }


    /* .menu-left ul{height:200px; width:18%;} */

    .file-uploads label {
        cursor: pointer;
    }
    .chat_w{
        min-width: 190px !important;
        word-break: break-all;
    }
    .empty_message{
        min-height: 239px;
    }
    .close_box {
        fill: #7c59c2 !important;
    }

    .chat_box {
        transform: translateY(0);
        position: fixed !important;
        right: 72px !important;
        z-index: 999 !important;
        bottom: 0px;
        margin-bottom : 0 !important;

    }
    .popup-chat .mCustomScrollbar{
        min-height: 239px !important;
    }
    .chat_box_opend_menu {
        transform: translateY(0);
        position: fixed !important;
        right: 274px !important;
        z-index: 999 !important;
        bottom: 0px;
        margin-bottom : 0 !important;
    }

    .sender_msg {
        overflow: hidden !important;
        padding: 9px 25px !important;
        margin-bottom: 40px !important;
    }

    .sender_msg .chat-message-item {
        background-color: #7c5ac2 !important;
        color: #fff !important;
    }

    .sender_msg .author-thumb {
        float: right !important;
    }

    .sender_msg .chat-message-item {
        float: right !important;
    }

    .sender_msg .notification-event {
        float: right !important;
        padding-left: 0 !important;
        padding-right: 10px !important;
    }
</style>
