<template lang="html">
    <ul class="chat-users ">
        <div v-for="friend in freiends_data" :key="friend.index">
        <li class="inline-items " @click="openfrindchat(friend.user.id)">

            <div class="author-thumb header_logo">
                <img alt="author" :src="'/' + friend.user.logo" class="avatar" v-if="friend.user.logo != null && friend.user.logo != ''">
                <img v-else src="/uploads/user/dummy_logo.png" alt="author">
            </div>

            <div class="author-status">
                <a @click="openfrindchat(friend.user.id)" class="h6 author-name">{{ friend.user.name }}</a>
            </div>



        </li>
        </div>
    </ul>
</template>

<script>
     export default {
        props:['freiends_data'],
        methods:{
            openfrindchat(friend_id){
                console.log('>>>>> : ',friend_id);
                this.$emit('openfrindchat', {
                    id: friend_id,
                })
            }
        }
    }
</script>

<style lang="css">
</style>
