<template lang="html">
    <div>
        <chat-side-menu v-for="message_side in side_message" :key="message_side.index" :message_side="message_side" ></chat-side-menu>
    </div>
</template>

<script>
    export default {
        props: ['side_message']
    }
</script>

<style lang="css">
</style>
