.vue-notification.error {
    min-height: 108px !important;
}
.center_text{
    text-align: center !important;
}
.cover_photo img{
    width: 1920px !important;
    height: 300px !important;
}
.user_logo img {

    height: 120px !important;
    width: 120px !important;
}
.discover_logo img{
    height: 92px !important;
    width: 92px !important;
}
.discover_cover img{
     height: 92px !important;
     width: 238px !important;
 }
.discover_cover_home img{
    height: 92px !important;

}
.header_logo img{
    height: 40px !important;
    width: 40px !important;
}
.pagination{
    justify-content: center !important;
}
.bababab{
    font-size: 12px;
    padding-left: 42px;
}
.pepsi{
    height: 10px !important;
}
.header_logo_search img{
    height: 30px !important;
    width: 30px !important;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.2;
}
.lock_icn{
    width: 25%;
    margin: auto;
}
.already_subscribed{
    background-image: url("/img/already_sub.png");
    background-repeat: no-repeat;
    z-index: 9;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;


}