
#spinner-loader .modal-content {
    border: none !important;

    -webkit-box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.75);
}

#spinner-loader .modal-body {
    margin: 0;
    width: 100%;
    height: 150px;
    background-color: #3f4257;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container-spinner {
    position: relative;
    width: 30px;
    height: 30px;
    -webkit-animation: rotation 1s infinite;
    animation: rotation 1s infinite;
}
.container-spinner .shape {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.container-spinner .shape.shape-1 {
    left: 0;
    background-color: #4285F4;
}
.container-spinner .shape.shape-2 {
    right: 0;
    background-color: #34A853;
}
.container-spinner .shape.shape-3 {
    bottom: 0;
    background-color: #FBBC05;
}
.container-spinner .shape.shape-4 {
    bottom: 0;
    right: 0;
    background-color: #EA4335;
}
.container-spinner .shape-1 {
    -webkit-animation: shape1 2s linear infinite;
    animation: shape1 2s linear infinite;
}
.container-spinner .shape-2 {
    -webkit-animation: shape2 2s linear infinite;
    animation: shape2 2s linear infinite;
}
.container-spinner .shape-3 {
    -webkit-animation: shape3 2s linear infinite;
    animation: shape3 2s linear infinite;
}
.container-spinner .shape-4 {
    -webkit-animation: shape4 2s linear infinite;
    animation: shape4 2s linear infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes shape1 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 18px);
        transform: translate(0, 18px);
    }
    50% {
        -webkit-transform: translate(18px, 18px);
        transform: translate(18px, 18px);
    }
    75% {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
    }
}
@keyframes shape1 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 18px);
        transform: translate(0, 18px);
    }
    50% {
        -webkit-transform: translate(18px, 18px);
        transform: translate(18px, 18px);
    }
    75% {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
    }
}
@-webkit-keyframes shape2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(-18px, 0);
        transform: translate(-18px, 0);
    }
    50% {
        -webkit-transform: translate(-18px, 18px);
        transform: translate(-18px, 18px);
    }
    75% {
        -webkit-transform: translate(0, 18px);
        transform: translate(0, 18px);
    }
}
@keyframes shape2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(-18px, 0);
        transform: translate(-18px, 0);
    }
    50% {
        -webkit-transform: translate(-18px, 18px);
        transform: translate(-18px, 18px);
    }
    75% {
        -webkit-transform: translate(0, 18px);
        transform: translate(0, 18px);
    }
}
@-webkit-keyframes shape3 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
    }
    50% {
        -webkit-transform: translate(18px, -18px);
        transform: translate(18px, -18px);
    }
    75% {
        -webkit-transform: translate(0, -18px);
        transform: translate(0, -18px);
    }
}
@keyframes shape3 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
    }
    50% {
        -webkit-transform: translate(18px, -18px);
        transform: translate(18px, -18px);
    }
    75% {
        -webkit-transform: translate(0, -18px);
        transform: translate(0, -18px);
    }
}
@-webkit-keyframes shape4 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, -18px);
        transform: translate(0, -18px);
    }
    50% {
        -webkit-transform: translate(-18px, -18px);
        transform: translate(-18px, -18px);
    }
    75% {
        -webkit-transform: translate(-18px, 0);
        transform: translate(-18px, 0);
    }
}
@keyframes shape4 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, -18px);
        transform: translate(0, -18px);
    }
    50% {
        -webkit-transform: translate(-18px, -18px);
        transform: translate(-18px, -18px);
    }
    75% {
        -webkit-transform: translate(-18px, 0);
        transform: translate(-18px, 0);
    }
}